fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-core
langchain-teddynote
chromadb
httpx
httpx-sse
python-dotenv
pydantic
pydantic-settings
requests
orjson
pdfminer.six
pytesseract
pillow
tiktoken
python-multipart